@page
@model WebApp.Pages.page1Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>page1</title>
</head>
<body>
    <h1> Hellp from a razor page</h1>
    <h2>It is @DateTime.Now.Year</h2>
    <h3>@Model.Message</h3>
    <form method=" "
</body>
</html>
